For this program to run, you will need to install the below packages:

PyAudio
pyinstaller
pyttsx3
SpeechRecognition
wikipedia
pyjokes
EmailMessage
pywhatkit
googletrans==3.1.0a0

you can install these packages using `pip install <package_name>`
